<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin main page</title>
    <style>
        .center {
            padding: 30px 0;
            text-align: center;
        }

        .header {
            display: inline-block;
            width: 100%;
        }

        .user_static_actions {
            float: right;
            text-align: right;
        }

        .language {
            float: left;
        }
    </style>
</head>
<body>

<div class="header">
    <div class="user_static_actions">
        <strong><a style="font-size:20px" th:text="${user.getUsername()}">User</a></strong>
        <form th:action="@{/logout}" th:method="POST">
            <input style="background-color: darkgrey; font-size: 15px; padding: 5px 15px" type="submit"
                   th:value="#{logout}"/>
        </form>
        <form th:action="@{/main_page}" th:method="GET">
            <input style="background-color: lightgrey; font-size: 15px; padding: 8px 4px" type="submit"
                   th:value="#{mainPage}"/>
        </form>
    </div>
    <div class="language">
        <strong><a style="font-size:15px">[[#{login.choose_lang}]]</a></strong>
        <br/>
        <a style="font-size:15px" th:href="@{?lang=en}">[[#{login.english}]]</a>
        <br/>
        <a style="font-size:15px" th:href="@{?lang=ua}">[[#{login.ukrainian}]]</a>
    </div>
</div>

<div class="center">

    <p style="font-size:40px">[[#{subjects}]]</p>

    <div th:each="subject : ${subjects}">
        <a style="font-size:20px"
           th:href="@{/admin/subjects/{id}(id=${subject.getId()})}"
           th:text="${subject.getName()} + '          '">Subject</a>
    </div>

    <br/>
    <br/>

    <form th:action="@{/subjects/new}" th:method="GET">
        <input style="background-color: lightgrey; font-size: 20px; padding: 8px 20px"
               type="submit" th:value="#{new_subject}"/>
    </form>


    <p style="font-size:40px">[[#{students}]]</p>
    <div th:each="student : ${students}">
        <a style="font-size:20px"
           th:href="@{/admin/student/info/{id}(id=${student.getId()})}"
           th:text="${student.getUsername()}">Student</a>
    </div>

</div>
</body>
</html>